@model Vidly.ViewModels.NewCustomerViewModel
@{   ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{ 
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(e => e.Customer.Name)
        @Html.TextBoxFor(e => e.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Customer.membershipTypeId)
        @Html.DropDownListFor(e => e.Customer.membershipTypeId, new SelectList(Model.MembershipType, "Id", "Name"), "Select a Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Customer.membershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Customer.Birthdate)
        @Html.TextBoxFor(e => e.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Customer.Birthdate)
       
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(e => e.Customer.IsSubscribedToNewsletter, new { @class = "checkbox" }) Subscribed To Newsletter?
        </label>
    </div>
    @Html.HiddenFor(c => c.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}